* {
  font-family: ProximaNovaRegular;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  background-color: #212529;
}

@font-face {
  font-family: 'ProximaNovaBold';
  src: url('assets/fonts/Proxima-Nova-Bold.woff');
}

@font-face {
  font-family: 'ProximaNovaRegular';
  src: url('assets/fonts/Proxima-Nova-Regular.woff');
}

@font-face {
  font-family: 'ProximaNovaSemiBold';
  src: url('assets/fonts/Proxima-Nova-Semibold.woff');
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}


.container-fluid {
  padding-left: 6.3rem;
  padding-right: 6.3rem;
}

.dropdown-toggle::after {
  display: none !important;
}

.slick-disabled {
  display: none !important;
}

.slick-prev:before,
.slick-next::before {
  font-size: 45px;
  opacity: 1;
}

.slick-prev {
  z-index: 2;
}

.slick-next {
  position: absolute;
  right: 0;
}