.home-page .home-page-content {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
}


.home-page .home-page-content .movies .movie-card {
    margin-right: 1rem;
    justify-content: center;
}

.home-page .home-page-content .area-header,
.home-page .home-page-content .area-header,
.home-page .home-page-content .area-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-page .home-page-content #header-title {
    color: #fff;
    font-family: 'ProximaNovaBold';
    font-size: 48px;
}

.home-page .home-page-content #header-see-more {
    color: #fff;
    font-family: 'ProximaNovaBold';
    font-size: 24px;
    text-decoration: underline;
}

.home-page .home-page-content .upcoming-movies-area,
.home-page .home-page-content .campaign-area {
    margin-top: 6rem;
}

.home-page .home-page-content .campaign-slider {
    margin-top: 2rem;
}

.campaign-slider .slick-dots {
    bottom: -40px;
}

.slick-dots li button::before {
    color: #fff !important;
    font-size: 15px !important;
}

.slick-dots li {

    margin: 0px 10px !important;
}

.slick-dots .slick-active {
    margin-right: 60px !important;
}



.slick-active button::before {
    font-size: 15px;
    border-radius: 7.5px;
    background-color: white;
    opacity: 1 !important;
    width: 60px !important;
    height: 15px !important;
}



/*CGV-MOVIE-PASS-AREA*/

.cgv-movie-pass-area {
    display: flex;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.cgv-movie-pass-area .cgv-movie-pass-text {
    color: #fff;
    text-align: center;
    display: grid;
    row-gap: 20px;
}

.cgv-movie-pass-area .cgv-movie-pass-text h1 {
    font-family: 'ProximaNovaBold';
    font-size: 45px;
}

.cgv-movie-pass-area .cgv-movie-pass-text span {
    color: #ffffff9f;
    font-family: 'ProximaNovaRegular';
    font-size: 20px;
    line-height: 1.5;
}

.cgv-movie-pass-area .cgv-movie-pass-text .text-link {
    text-decoration: underline;
}

.cgv-movie-pass-area .cgv-movie-pass-text .campaign-area {
    height: 1000px;
}

.cgv-movie-pass-area .cgv-movie-pass-logo {
    text-align: center;
}

.cgv-movie-pass-area .cgv-movie-pass-logo img {
    width: 10rem;
}


/*CGV-MOVIE-PASS-CARD-AREA*/

.cgv-movie-pass-card-area .slick-list {
    padding-top: 2rem;
}


/*CGV-CINEMA-CLUB-AREA*/

.cgv-cinema-club-area-content {
    margin-top: 12rem;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-radius: 20px;
    height: 335px;
    align-items: center;
    gap: 3rem;
    padding: 4rem;
}

.cgv-cinema-club-area .cinema-club-content {
    display: grid;
    row-gap: 2rem;
    width: 50%;
    padding: 4rem 0;
}

.cgv-cinema-club-area .cinema-club-content .top-description p {
    font-size: 18px;
    font-family: 'ProximaNovaRegular';
}

.cgv-cinema-club-area .cinema-club-content .sub-description p {
    font-size: 24px;
    font-family: 'ProximaNovaBold';
}

.cgv-cinema-club-area .cgv-cinema-club-area-content .cinema-club-icon {
    width: 27%;
    position: sticky;
}

.cgv-cinema-club-area .cgv-cinema-club-area-content .cinema-club-icon .cinema-club-icon-img {
    height: 416px;
    margin-bottom: 5.4rem;
    margin-left: 2.5rem;

}

.cgv-cinema-club-area .cgv-cinema-club-area-content .cinema-club-button-area {
    display: flex;
    gap: 10px;

}

.cgv-cinema-club-area .cgv-cinema-club-area-content .cinema-club-button-area button {
    border-radius: 50px;
    font-family: 'ProximaNovaBold';
    width: 165px;
    height: 40px;
    font-size: 16px;
}


.cgv-cinema-club-area .cgv-cinema-club-area-content .cinema-club-button-area button:first-child {
    border: 2px solid #abb5c4;
    background-color: transparent;
    color: #3f444c;
}

.cgv-cinema-club-area .cgv-cinema-club-area-content .cinema-club-button-area button:last-child {
    border: 1px solid #96a825;
    background-color: #96a825;
}